{%extends 'userhome.html'%}
{%load static%}

{% block css %}<style>

a{
    text-decoration: underline;
    font-size: large;
    color: black;
}
a:hover{
   color: red;
}
#category-main{
   height: 600px;
   width: 900px;
}
.category-part{
   height: 200px;
   width: 300px;
   float: left;
}


</style>
{%endblock%}
{%block header%}
<div class="col-sm-3">
   <h3 id="logo" class="logo" >Leather World</h3>
</div>
<div class="col-sm-7">

<nav class="navbar navbar-expand-lg navbar-dark top-nav">
<!-- <div class="container"> -->
   <a class="navbar-brand" href="index.html">

<!--                <img src="{%static 'images/45.jpg'%}" alt="logo" class="ml-5 mt-0">-->

   </a>
   <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
       <span class="fas fa-bars"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarResponsive" style="padding-right: 189px;">
      <!-- <font style="color:white">Username:{{suname}}</font>  -->
      <a class="nav-link " style="color:white" href="/users/">Hello:{{suname}}</a>
      <ul class="navbar-nav ml-auto">
         <li class="nav-item">
            <!-- <a class="nav-link " href="/users/">User Home</a> -->
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/users/vdeals/">Shop</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/login/">Logout</a>
         </li>
      </div>
   </nav>
   {%endblock%}
{% block body %}
<div class="col-sm-12">
    <h1 style="font-size:40px;font-weight:bold;padding-top: 120px;">Edit Profile Here..!!</h1>
<!--messeage pop up-->
 {% if messages %}
 {% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
   <strong>{{ message }}</strong>
 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
   <span aria-hidden="true">&times;</span>
 </button>
</div>
 {%endfor%}
 {% endif %}
<!--messeage pop up-->

<form method="post" action="" >
    {% csrf_token %}    
    <table class="table table-bordered">
    <tr>
        <td>Name</td>
        <td><input type="text" name="name" value="{{userdetails.name}}" placeholder="Enter name" class="form-control"/></td>
    </tr>
    <tr>
        <td>Username</td>
        <td><input onkeyup="checkEmail(this.value)" value="{{userdetails.username}}" readonly type="text" name="username" placeholder="Enter username" class="form-control">
        <br>
            <span id="response"></span>
        </td>
    </tr>
    
        <td>Mobile</td>
        <td><input type="tel" name="mobile" value="{{userdetails.mobile}}" placeholder="Enter mobile" class="form-control"/></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><textarea rows="2" name="address"  placeholder="Enter address" class="form-control">{{userdetails.address}}</textarea></td>
    </tr>
    <tr>
        <td>City</td>
        <td>
            <select name="city" class="form-control">
                <option>{{userdetails.city}}</option>
                <option>Indore</option>
                <option>Ujjain</option>
                <option>Bhopal</option>
            </select>    
        </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            Male <input type="radio" name="gender"  value="male" {{m}}/>
            &nbsp;&nbsp;
            Female <input type="radio" name="gender"  value="female" {{f}}/>
        </td>
    </tr>
    <tr>
        <td colspan="2"  ><button style="margin:0px 200px; padding:5px 300px;" type="submit" class="btn btn-outline-danger"><strong>Update</strong></button></td>
    
    </tr>
    
    </table>
    </form>
</div>
{%endblock%}
